*{
    font-family: sans-serif;
}

h1{
    text-align: center;
    background: orange;
    
    padding:8px;
    
}


.lista-piatti{
    background: orange;
    padding:16px;
}

h2{
    background-color: orange;
    padding:16px;
    text-align:center;
    margin:0px 100px;
    
}

p{
     background-color: aliceblue;

    }

ol{
    background-color: yellowgreen;
}

.formaggio{
    background-color: black;
    color: yellow
}

.lista-piatti li{
    margin:8px;
}

img{
    margin:8px auto;
    border: 8px solid orange;
}